body{
    background-color: grey;
}

#sidebar{
    background-color: royalblue;
    height: 800px;
}

#outputBox{
    background-color: rgb(34, 34, 34);
    height: 725px;
}
.table{
    margin: 10px;
}
th{
    font-weight: bolder;
    background-color: rgb(102, 102, 102);
    border-color: white;
    border: 2px;
}
thead{
    border-bottom: 50px;
}